
<h1>Orca (Not-yet-Automatic) Dart Scoring System</h1>

<h3>Current Darts Cam Status:</h3>
{#<p>{%  %}</p>#}


<table>
    <tr>
        <td>{% if status %}<strong>RUNNING</strong>{% else %}<strong>NOT RUNNING</strong>{% endif %}</td>
        <td>since {{ since }}.</td>
    </tr>
</table>

<br>

<form action="#" method="post">
{%  csrf_token %}
    <input type="submit" class="btn" value="{% if status %}Stop{% else %}Start{% endif %}" name="{% if status %}stop{% else %}start{% endif %}">
</form>

{# TODO: Add currently running games #}
<table border="1">
    <thead>Currently Running Games:</thead>
    <tr>
        <td>Game ID</td>
        <td>Started on:</td>
        <td></td>
    </tr>
    <tr>
        <td>002</td>
        <td>June 21, 2018, 4:28 a.m.</td>
        {# TODO: Add button to continue games #}
        <td>
            <form action="#" method="get">
{#                {% csrf_token %}#}
                <input type="submit" class="btn" value="Continue">
            </form>
        </td>
    </tr>
    <tr>
        <td>None - this is a place holder</td>
        <td>None - this is a place holder</td>
        <td></td>
    </tr>
</table>

{# TODO: Add button to continue games #}


<br>
{# TODO: Auto compelte works with new_game.html, but fails in the app. Current version works, but is shown as an error? #}
<form action="{% url 'darts_ui:new_game' %}" method="get">
{#    {%  csrf_token %}#}
    <input type="submit" class="btn" value="New Game">
</form>
