
<h1>Orca Automatic Dart Scoring System</h1>

<html>
    <head>
    </head>
    <body>

        <h3>Current Darts Cam Status:</h3>
        {#<p>{%  %}</p>#}
        
        
        <table>
            <tr>
                <td>{% if status %}<strong>RUNNING</strong>{% else %}<strong>NOT RUNNING</strong>{% endif %}</td>
                <td>since {{ since }}</td>
            </tr>
        </table>
        
        
        <br>
        <br>
        
        {#TODO: Add button to start the darts cam#}
        
        
        <form action="#" method="post">
        {%  csrf_token %}
            <input type="button" id="btn" value="toggle">
        </form>
        <script>
            var socket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/status');
        
            socket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                console.log(message);
            };
        
            socket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            var btn = document.getElementById('btn');
            btn.addEventListener('click', function (event) {
                console.log(event);
                socket.send(JSON.stringify({ 'message': { 'toggle': true } }))
            })
        </script>
    </body>
</html>