
<h1>Orca (Not-yet-Automatic) Dart Scoring System</h1>

<h3>Current Darts Cam Status:</h3>
{#<p>{%  %}</p>#}


<table>
    <tr>
        <td>{% if status %}<strong>RUNNING</strong>{% else %}<strong>NOT RUNNING</strong>{% endif %}</td>
        <td>since {{ since }}.</td>
    </tr>
</table>

<br>

<form action="#" method="post">
{%  csrf_token %}
    <input type="submit" class="btn" value="{% if status %}Stop{% else %}Start{% endif %}" name="{% if status %}stop{% else %}start{% endif %}">
</form>

{# TODO: Add currently running games #}
<table>
    <thead>Currently Running Games:</thead>
    <tr>
        <td>Game ID</td>
        <td>Started on:</td>
    </tr>
    <tr>
        <td>None - this is a place holder</td>
        <td>None - this is a place holder</td>
    </tr>
</table>


{# TODO: Add button to continue games #}


{# TODO: Add button to start a new game #}
<br>
<form action="new_game.html" method="get">
    {%  csrf_token %}
    <input type="submit" class="btn" value="New Game">
</form>
